#alertBoxSuccess {
  display: flex;
  align-items: center;
  gap: 10px;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #d7ffb7;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px #0000001a;
}

#alertBoxSuccess button {
  align-items: center;
  font-size: 12px;
  background-color: #035e00;
  height: 30px;
  text-align: center;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0 8px;
  cursor: pointer;
}

#alertBoxSuccess button:hover {
  background-color: #004110;
}

#alertBoxError {
  display: flex;
  align-items: center;
  gap: 10px;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffb7b7;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px #0000001a;
}

#alertBoxError button {
  align-items: center;
  font-size: 12px;
  background-color: #ff0000;
  height: 30px;
  text-align: center;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0 8px;
  cursor: pointer;
}

#alertBoxError button:hover {
  background-color: #ab0000;
}