@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  font-weight: 550;
}

.container {
  display: flex;
  min-height: 100dvh;
  overflow: hidden;
}

.sidebar {
  width: 15%;
  display: flex;
  flex-direction: column;
  border-right: 1.5px solid #ececec;
  gap: 15px;
  padding: 12px 15px 0 15px;
  font-family: "Inter", sans-serif;
  color: #747474;
}

.sidebar h1 {
  font-size: 30px;
  color: orangered;
  border-bottom: 1px solid #ececec;
  padding: 15px;
  padding-bottom: 30px;
  font-weight: 700;
}

.sidebar__button {
  text-decoration: none;
  font-family: "Inter";
  color: #747474;
  padding: 15px;
  border-radius: 4px;
}

.sidebar__button:hover {
  background-color: orangered;
  color: white;
}

.div-header {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.div-header-with-button {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
}

.page-title {
  font-size: 30px;
  font-weight: 600;
  color: #383838;
  text-align: left;
  margin: 0;
}

main {
  width: 85%;
  box-sizing: border-box;
  padding: 40px;
  justify-content: center;
  flex-grow: 1;
  background-color: #f7f7f7;
}

header {
  width: 100%;
  height: 53px;
  border-bottom: 1px solid #c5c5c5;
}

table {
  margin: auto;
  width: 100%; 
  border: 2px solid #ebebeb;
  border-radius: 8px;
  border-spacing: 0;
  font-size: 16px;
  background-color: white;
  color: #747474;
}

thead {
  border: 1px solid #611313;
  border-radius: 8px;
  color: #383838;
}

th {
  border-bottom: 2px solid #ebebeb;
  background-color: #f1f1f1;
  text-align: justify;
  padding: 0 15px;
  font-weight: 700;
}

td {
  border-bottom: 2px solid #ebebeb;
  text-align: justify;
  padding: 0 15px;
}

.last-td {
  border: none;
}

tr {
  height: 50px;
}

tr:hover {
  background-color: #f8f8f8;
}

.button-add {
  width: 180px;
  height: 32px;
  background-color: orangered;
  color: white;
  border: 2px solid #c73500;
  border-radius: 8px;
  font-size: 14px;
}

.button-add:hover {
  background-color: #c73500;
  color: white;
}

.button-update {
  width: 80px;
  padding: 5.5px;
  background-color: #3593ff;
  color: white;
  border: 2px solid #0070f0;
  border-radius: 8px;
  font-size: 14px;
}

.button-update:hover {
  background-color: #0070f0;
  color: white;
}

.button-delete {
  width: 80px;
  padding: 5.5px;
  background-color: #ff4343;
  color: white;
  border: 2px solid #e40303;
  border-radius: 8px;
  font-size: 14px;
}

.button-delete:hover {
  background-color: #e40303;
  color: white;
}

a {
  text-decoration: none;
}

dialog {
  margin: auto;
  padding: 25px;
  border: none;
  border-radius: 5px;
  width: 25%;
  height: 8%;
  font-size: 24px;
  text-align: center;
}

dialog h1 {
  font-size: 30px;
  margin-bottom: 15px;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.5);
}

.raw-materials-header {
  display: inline-flex;
}

.raw-materials-header button {
  margin-right: 0px;
}

.confirm-delete {
  width: 90px;
  padding: 5.5px;
  background-color: #3593ff;
  color: white;
  border: 2px solid #0070f0;
  border-radius: 8px;
  font-size: 14px;
  margin-top: 10px;
}

.confirm-delete:hover {
  background-color: #0070f0;
  color: white;
}

.cancel-delete {
  width: 90px;
  padding: 5.5px;
  background-color: #ff4343;
  color: white;
  border: 2px solid #e40303;
  border-radius: 8px;
  font-size: 14px;
}

.cancel-delete:hover {
  background-color: #e40303;
  color: white;
}

.raw-materials-dialog {
  width: 30%;
  height: 50%;
}

.button-show-details {
  width: 90px;
  padding: 5.5px;
  background-color: #ffee00;
  color: black;
  border: 2px solid #c4b700;
  border-radius: 8px;
  font-size: 14px;
}

.button-show-details:hover {
  background-color: #c4b700;
  color: black;
}